.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--grey-dark);
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 2rem;
  text-align: center;
}

.ft_font {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  
}

.footer_sign {
  padding-top: 1rem;
  font-style: italic;
}