:root {
  --ft-beige: #f2dfce;
  --text-accent: #b24865;
  --text-light: rgb(99, 98, 98);
  --text-faint: #cfddeb;
  --grid-blue: #0f5499;
  --grey-light: #ccc1b7;
  --grey-dark: #262a33;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header {
  margin-left: auto;
  margin-right: auto;
} */

