.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100vw;
  margin-top: 2rem;
}

.mobile_padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* HERO */

.hero_container {
  display: flex;
  flex-direction: column;
}

.hero_main_article_container, .beige_article_container {
  font-family: 'Open Sans', sans-serif;
}

.hero_main_article_theme, .article_item_theme, .img_top_article_item_theme, .beige_article_theme, .article_box_img_overflow_item_theme {
  color: var(--text-accent);
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.hero_main_article_title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.hero_main_article_subheading {
  color: var(--text-light);
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

/* ARTICLE */

.article_row_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

}

.article_item_img, .img_top_article_item_img {
  display: none;
}

.article_row_item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--grey-light);
}

.article_item_theme, .img_top_article_item_theme {
  padding-bottom: 0.5rem;
}

.article_item_heading, .img_top_article_item_heading, .article_box_img_overflow_item_heading {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.8rem;
}

.article_item_subheading, .img_top_article_item_subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(99, 98, 98);
}

/*  BEIGE ARTICLE - MOBILE */

.beige_article_text_container {
  background-color: var(--ft-beige);
  padding: 1rem 1rem 2rem;
  text-align: center;
}

.beige_article_theme_container {
  position: relative;
  margin-bottom: 1rem;
}

.beige_article_theme_container::after {
  content: "";
  width: 50px;
  height: 0.2rem;
  top: 1.5rem;
  left: 43.75%;
  background-color: var(--text-accent);
  position: absolute;
}

.beige_article_theme {
  padding-bottom: 1rem;
}

.beige_article_title, .blue_article_item_heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  padding-bottom: 1rem;
  z-index: 2;
}

.beige_article_img {
  display: none;
}

/* BLUE ARTICLE */

.blue_article_container {
  background-color: var(--grid-blue);
  padding: 1.5rem;
  color: white;
}

.blue_article_theme_container {
  position: relative;
  margin-bottom: 1rem;
}

.blue_article_theme_container::after {
  content: "";
  width: 50px;
  height: 0.2rem;
  background-color: white;
  position: absolute;
}

.blue_article_theme {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-bottom: 0.2rem;
}

.blue_article_item_heading {
  padding-bottom: 1.5rem;
}

.blue_article_item_subheading {
  color: var(--text-faint);
  font-weight: 300;
}

/* ARTICLE COLUMN */

.articles_column_container {
  padding-top: 1rem;
  gap: 2rem;
}

.article_column_item {
  display: flex;
  border-bottom: 0.5px solid var(--grey-light);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.article_column_item_img {
  display: none;
}

/* MAIN ARTICLES ROW FOUR */

.row_four_container {
  position: relative;
  padding: 2rem 0;
}

.row_four_container::before {
  content: "";
  position: absolute;
  border-top: 4px solid #000;
  width: 100%;
  height: 4px;
  top: 0;
}

.row_four_container::after {
  content: "";
  position: absolute;
  background-color: var(--ft-beige);
  width: 110vw;
  height: 100%;
  top: 0;
  left: -10%;
  z-index: -2;
}

.row_four_article_box_container {
  padding-bottom: 3rem;
}

.article_no_img_column_item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-bottom: 0.5px solid var(--grey-light);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* ARTICLES BOX IMG OVERFLOW */

.article_box_img_overflow_container {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.2px solid var(--grey-light);
  padding: 2rem 1rem;
  padding-bottom: 35%;
}

.article_box_img_overflow_img {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 70%;
}

/* PAGINATION */

.pagination_container {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.pagination_btn {
  padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 90vw;
    margin-top: 2rem;
  }

   /* MAIN SECTION */

   /* HERO */

  .hero_container {
    flex-direction: row;
    gap: 2rem;
  }
  
  .hero_main_article_container {
    flex: 0 0 50%;
  }

  .hero_main_article {
    font-family: 'Open Sans', sans-serif;
  }

  .hero_main_article_theme, .four_row_theme {
    color: var(--text-accent);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  
  .hero_main_article_subheading {
    color: var(--text-light);
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .hero_main_article_title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 2rem;
  }
 
  /* ARTICLE ITEM STYLING */

  .article_item_theme, .img_top_article_item_theme {
    /* font-size: 0.8rem; */
    padding-bottom: 0.2rem;
  }

  .article_item_img, .img_top_article_item_img {
    display: flex;
    padding-bottom: 1rem;
  }
  
  .article_item_subheading, .img_top_article_item_subheading {
    font-size: 0.8rem;
    font-weight: 400;
  }

  /* ARTICLE ROW */

  .article_row_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 0.5px solid var(--grey-light);
  }

  .article_row_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none ;
  }

  /* ARTICLE COLUMN */

  .articles_column_container {
    display: flex;
    gap: 2rem;
  }

  .column_articles {
    display: flex;
    flex-direction: column;
  }

  .article_column_item {
    gap: 1rem;
  }

  .article_column_item_text {
    flex-basis: 70%;
  }

  .article_column_item_img {
    display: block;
    flex-basis: 30%;
  }

  /* BEIGE ARTICLE */

  .main_row_three_beige {
    flex: 0 0 50%;
  }

  .beige_article_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .beige_article_text_container {
    position: relative;
    padding: 2rem;
  }
  
  .beige_article_text_container::before {
    content:  "";
    background-color: var(--ft-beige);
    position: absolute;
    width: 100%;
    height: 100%; 
    top: -20%;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  
  .beige_article_title {
    background-color: var(--ft-beige);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }
  
  .beige_article_img {
    display: flex;
    justify-content: center;
    width: 80%;
    top: -100px;
  }

  /* BLUE ARTICLE */

  .blue_article_container {
    line-height: 1.5rem;
  }

  /* MAIN ARTICLE ROW FOUR */

  .row_four_container {
    position: relative;
    padding: 2rem 0 1rem;
  }

  .row_four_container::before {
    content: "";
    position: absolute;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #000 33%, var(--grey-light) 33%) 100% 1;
    width: 100%;
    height: 4px;
    top: 0;
  }
  
  .row_four_container::after {
    content: "";
    position: absolute;
    background-color: var(--ft-beige);
    width: 110vw;
    height: 100%;
    top: 0;
    left: -30%;
    z-index: -2;
  }

  .row_four_articles_container {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    gap: 1rem;
    padding-top: 1rem;
  }

  /* .article_no_img_column_item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-bottom: 0.5px solid var(--grey-light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  } */

  /* .article_box_img_overflow_container {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 0.2px solid var(--grey-light);
    padding: 2rem 1rem;
    padding-bottom: 35%;
  } */

  /* .article_box_img_overflow_img {
    position: absolute;
    bottom: -2rem;
    right: 0;
    width: 70%;
  } */

  /* Search PAGE */

  .search_page_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 80%;
    padding-bottom: 1rem;
  }
  
}

@media only screen and (min-width: 1024px) {

  .container {
    width: 80vw;
  }
}